name: CI to Docker Hub

on:
  push:
    branches: [ "main" ] # Se déclenche sur chaque push vers main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: . # Puisque tout est à la racine, on utilise juste le point
          push: true
          tags: pasnassim/nolan-app:latest